{% extends "layout.html" %}

{% block content %}
<form method="post" id="pclrForm">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Score</th>
                    <th>Importance</th>
                </tr>
            </thead>
            <tbody>
                {% for item in criteria %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <div class="radio-group">
                            {% for score in scoring_criteria[item.name] %}
                            <label>
                                <input type="radio" name="{{ item.name }}_score" value="{{ score }}" class="pclr-term"> {{ score }}
                            </label>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <select name="{{ item.name }}_importance">
                            <option value="Low">Low</option>
                            <option value="Moderate">Moderate</option>
                            <option value="High">High</option>
                            <option value="Very High">Very High</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <button type="submit" id="submitButton">Submit</button>
    </div>
</form>

<script>
document.getElementById('pclrForm').addEventListener('submit', function(event) {
    var valid = true;
    var radioGroups = document.querySelectorAll('.radio-group');

    radioGroups.forEach(function(group) {
        var radios = group.querySelectorAll('input[type="radio"]');
        var isChecked = Array.from(radios).some(radio => radio.checked);
        if (!isChecked) {
            valid = false;
        }
    });

    if (!valid) {
        alert('Please select a value for all PCLR terms.');
        event.preventDefault();
    }
});
</script>
{% endblock %}
